.signin-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 200px;
  text-align: center;
}

.signin-container h2 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.form-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.primary-button {
  padding: 0.7rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: capitalize;
}

.primary-button:hover {
  background: #333;
}

.right-label {
  float: right;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: none;
  margin-top: -1.5rem;
}

footer p {
  font-size: 0.9rem;
  color: #888;
}
